/**
 * Query Overrides.
 */
@media only screen and (max-width: 825px) {
    

    .body-wrapper {
        padding:                    0px;
        margin:                     0px;
        
        section {
        
            &.grid-75, &.grid-25 {
                width:              100%;
            }
            
            &.grid-25 {
                margin:             5px 0px;
                
                .feed-wrapper {
                    margin:         0 1% 10px;
                    width:          45%;
                    float:          left;
                    padding:        10px 1.5%;
                }
                
                .welcome-x {
                    display:        none;
                }
            }
        }
    }
}
